<section class="section section--form-solo">
    <div class="section__content">
        <img src="/content/logo-play.svg" class="margin--bottom-large" />

        {{render '@form-login'}}
    </div>
</section>