<div class="title">
    <h1 class="title__heading">{{ Model.ContentItem.Content.Title.Heading.Text }}</h1>
    <p class="title__meta">{{ Model.ContentItem.Content.Title.Meta.Text }}</p>
</div>

<hr />