/* ==========================================================================
   #LINK/PLAIN
   ========================================================================== */

.link--plain {
    border-bottom: 0;

    color: inherit;
    text-decoration: none;

    /**
     * 1. Needs to be included here to increases specifity
     *    otherwise the default link colour will be applied.
     */
    @include themify($themes) {
        color: inherit; /* 1. */
        font-weight: themed('fontWeight.default');
    }
}
