/* ==========================================================================
   #GALLERY/SETTINGS
   ========================================================================== */

@use 'sass:math';

$gallery-gutter: 2rem;
$gallery-gutter-small: 1.5rem;
$gallery-item-gap: math.div($gallery-gutter, 2);
