/* ==========================================================================
   #LABEL
   ========================================================================== */

label {
    display: block;
    @include rem(margin-bottom, $spacing-small);

    text-transform: uppercase;

    @include themify($themes) {
        color: themed('color.hint');
        @include rem(font-size, themed('fontSize.default'));
        @include rem(line-height, themed('lineHeight.label'));
    }
}