/* ==========================================================================
   #CONTENT
   ========================================================================== */
   
/**
 * Content spacing
 */

$content-gutter-small: 1.5rem;
$content-gutter: 3rem;

/**
 * Content Width
 */
 
$content-width: 110rem;
$content-width-wide: 110rem;