/* ==========================================================================
   #CARD
   ========================================================================== */

.card {
    @include rem(margin-bottom, $spacing-large);
    margin-left: auto;
    margin-right: auto;
    position: relative;

    text-align: left;

    @include bp-min-width($bp-mobile) {
        padding: $content-gutter;
    }

    @include themify($themes) {
        background-color: themed('color.backgroundCard');
    }

    &__body {
        @include rem(padding-top, $content-gutter-small);
    }
}