/* ==========================================================================
   #SECTION/SETTINGS
   ========================================================================== */

$section-vertical-padding-mobile: 1.5rem;
$section-vertical-padding: 3rem;

$section-form-solo-max-width: 34rem;