/* ==========================================================================
   #LIST/SETTINGS
   ========================================================================== */

$list-navigation-anchor-padding-bottom: 1rem;
$list-navigation-anchor-padding-top: 1.5rem;

$list-navigation-top-padding: 0.5rem;

$list-navigation-chevron-height: 0.6rem;
$list-navigation-chevron-margin-bottom: 0.4rem;
$list-navigation-chevron-margin-left: 0.5rem;
$list-navigation-chevron-width: 1rem;
